{% extends 'base.html.twig' %}

{% block title %}New ReviewChecklist{% endblock %}

{% block body %}
    <h1>Create new ReviewChecklist</h1>

    {{ include('irb/review_checklist/_form.html.twig') }}

    <a href="{{ path('i_r_b_review_checklist_index') }}">back to list</a>
{% endblock %}
