{% extends 'base.html.twig' %}

{% block title %}New Funding Scheme{% endblock %}

{% block body %}
    <h1>Create new Funding Scheme</h1>

    {{ include('funding_scheme/_form.html.twig') }}

    <a href="{{ path('app_funding_scheme_index') }}">back to list</a>
{% endblock %}
