{% extends 'base.html.twig' %}

{% block title %}Edit FundingOrganization{% endblock %}

{% block body %}
    <h1>Edit FundingOrganization</h1>

    {{ include('crp/funding_organization/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_c_r_p_funding_organization_index') }}">back to list</a>

    {{ include('crp/funding_organization/_delete_form.html.twig') }}
{% endblock %}
