{% extends 'base.html.twig' %}

{% block title %}New FundingOrganization{% endblock %}

{% block body %}
    <h1>Create new FundingOrganization</h1>

    {{ include('crp/funding_organization/_form.html.twig') }}

    <a href="{{ path('app_c_r_p_funding_organization_index') }}">back to list</a>
{% endblock %}
