<form method="post" action="{{ path('i_r_b_application_type_delete', {'id': application_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application_type.id) }}">
    <button class="btn btn-danger mt-1">Delete</button>
</form>
