{% block help_right %}

	<h5 class="widget-title">Submission help and guidelines</h5>
	<hr class="hr-dashed my-4">

	<a href='{{ asset('Guidelines.pdf') }}' class='text-primary'>Download proposal submission guideline
		<i data-feather="power" class="fa fa-file-pdf"></i>
	</a>
	<hr class="hr-dashed my-4">

	<p>
	If you complete your profile you will hit save button and the system will redirects you to the page
of call for proposal.
You will read details of the call by clicking the link of the call and at the bottom, you will find the
submit proposal button which will redirects you to the submission page.<br>
Click agree to the guidelines confirmation to make sure that you have read and agreed to the
guidelines and click next button. Then the research details page will appear. <br>
	
	Research detail page contains sections of the proposal. <br>
➢ Title:<br>
➢ Short Title:<br>
➢ Subtitle:<br>
➢ College you are going to apply to:<br>
➢ The fnding scheme you are going to apply to:<br>
➢ General objective:<br>
➢ Specific objectives:<br>
- you can add as much as you want by clicking add specific objective.<br>
- You can remove one of specific objective using close button right in font of the field in case of redundancy or in case of need of removal<br>
➢ Executive summary or abstract:<br>
➢ Keywords: you can use comma or Enter button to separate keywords:<br>
➢ Thematic area: select one of the thematic areas of the call from the Institute.<br>
➢ Background and rationale:<br>
➢ Methodology:<br>
➢ Research outcome/ Output:<br>
➢ References:<br>
Click next button to continue <br>
In the next, The a wizard with research members will appear. Search your Co-PI member from the
system added earlier by each Co-PI before submission started by the PI; and add them as much as
you have.
(All members of the proposal need to login to the system before the PI initiates the proposal
submission)
<br>
In the next page you will get a wizard contains an action plan of your proposal. Yo can use text area
to drop your action plan even if you added a budget and timeline separately. You can use Add
budget expense button as much as needed.
You can use Add task schedule button as much as needed.
Fill them accordingly and hit next button .

<br>In the next page you will get a wizard contains your proposal attachment file of your proposal.
Note:
Your proposal file should not include the names and affiliation of research members. The file
has to be in word format and shall not exceed 2MB.
You can add an attachments as much as you have using Add attachment button.
And then click next button and see what you have uploaded and inserted to the forms so far on
Confirm wizard.
<br>As you finished your proposal submission, click Finish button and you will get email confirmation
that assures yo have submitted your proposal successfully.
Your email confirmation contains your submission link.
Instantly your research members involved as Co-PI will receive an email contains Co-PI
confirmation link.
In the next, you will be redirected to your submission status page

<br>Your research members can see their Co-authorship using a link sent to them via email or directly
logging in to the portal by their UAS username and password
To see your Co-Authorship, click My Co-authorship button at left side bar of the dashboard.
<br> 
	</p>
{% endblock %}
