{# {% if submission.CallForProposal.ResearchType ==1%}

    MEGA 
{% elseif submission.CallForProposal.ResearchType ==2%}

    COMMUNITY SERVICE
{% elseif submission.CallForProposal.ResearchType ==3%}

    TECHNOLOGY TRANSFER
{% elseif submission.CallForProposal.ResearchType ==4%}

    FEMALE GRANT
{% elseif submission.CallForProposal.ResearchType ==5%}

   YOUTH GRANT 
{% elseif submission.CallForProposal.ResearchType ==6%}

    PG STUDENT


{% endif %}
Research Project  #}
{% if submission.fundingScheme %}
											
												<span title='{{submission.fundingScheme.description}}' class="badge bg-soft-{{submission.fundingScheme.acronymColor}} bg-xs">
												<small>{{submission.fundingScheme.acronym}}</small>
												</span>

										{% endif %}
