{% extends 'base.html.twig' %}

{% block title %}Meeting minute{% endblock %}

{% block body %}
    <h1>Take minute</h1>

    {{ include('irb/meeting/_form.html.twig',{"button_label":"Take minute"}) }}

    <a href="{{ path('i_r_b_meeting_index') }}">back to list</a>
{% endblock %}
