<form method="post" action="{{ path('research_report_challenges_category_delete', {'id': research_report_challenges_category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ research_report_challenges_category.id) }}">
    <button class="btn">Delete</button>
</form>
