{% extends 'base.html.twig' %}

{% block title %}New ResearchSubjectCategory{% endblock %}

{% block body %}
    <h1>Create new ResearchSubjectCategory</h1>

    {{ include('irb/research_subject_category/_form.html.twig') }}

    <a href="{{ path('i_r_b_research_subject_category_index') }}" class="mt-1 btn btn-primary">back to list</a>
{% endblock %}
